[Unit]
Description=Media center 
After=network-online.target

[Service]
Type=idle
User=root
WorkingDirectory=/home/pi/dev/OpiMc
ExecStart=/usr/bin/python /home/pi/dev/OpiMc/main.py

StandardOutput=null
StandardError=journal

[Install]
WantedBy=network-online.target
